/* screen - 3-settings-4 */

.x3-settings-4 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 62px;
  height: 667px;
  overflow: hidden;
  width: 375px;
}

.x3-settings-4 .overlap-group6 {
  height: 539px;
  position: relative;
  width: 378px;
}

.x3-settings-4 .rectngulo-324 {
  border: 1px solid;
  border-color: transparent;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.x3-settings-4 .settings {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 242px;
  position: absolute;
  top: 68px;
  width: 375px;
}

.x3-settings-4 .photo {
  background-color: var(--feijoa);
  height: 136px;
  width: 375px;
}

.x3-settings-4 .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--alice-blue);
  display: flex;
  flex-direction: column;
  min-height: 106px;
  padding: 28px 32px;
  width: 375px;
}

.x3-settings-4 .name {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 2px;
  white-space: nowrap;
}

.x3-settings-4 .estudiante {
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.x3-settings-4 .input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 24px;
  min-height: 248px;
  position: absolute;
  top: 291px;
  width: 327px;
}

.x3-settings-4 .overlap-group {
  align-items: center;
  background-image: url(../img/trazado-644@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 327px;
  padding: 0 13.6px;
}

.x3-settings-4 .nombre {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  min-width: 38px;
  text-align: right;
}

.x3-settings-4 .overlap-group1 {
  align-items: center;
  background-image: url(../img/trazado-644@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 327px;
  padding: 0 12.2px;
}

.x3-settings-4 .descripcin {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  min-width: 56px;
  text-align: right;
}

.x3-settings-4 .correo {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  min-width: 33px;
  text-align: right;
}

.x3-settings-4 .overlap-group3 {
  align-items: center;
  background-image: url(../img/trazado-644@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 327px;
  padding: 0 12.7px;
}

.x3-settings-4 .contrasea {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  min-width: 55px;
  text-align: right;
}

.x3-settings-4 .navigation-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 68px;
  position: absolute;
  top: 72px;
  width: 377px;
}

.x3-settings-4 .rectngulo-475 {
  background-color: var(--alice-blue);
  border: 1px solid;
  border-color: transparent;
  height: 20px;
  width: 375px;
}

.x3-settings-4 .overlap-group4 {
  align-items: flex-start;
  background-color: var(--alice-blue);
  display: flex;
  gap: 83px;
  height: 48px;
  min-width: 375px;
  padding: 1px 32px;
}

.x3-settings-4 .group {
  cursor: pointer;
  height: 27px;
  width: 19px;
}

.x3-settings-4 .configuracin {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  min-height: 17px;
  min-width: 107px;
  text-align: center;
}

.x3-settings-4 .overlap-group5 {
  align-items: center;
  background-color: var(--sea-green);
  display: flex;
  height: 73px;
  left: 1px;
  min-width: 375px;
  padding: 0 150px;
  position: absolute;
  top: 0;
}

.x3-settings-4 .dailyst {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  min-width: 73px;
}

.x3-settings-4 .group-10 {
  align-items: center;
  background-color: var(--sea-green);
  display: flex;
  height: 66px;
  min-width: 375px;
  padding: 13px 47px;
}

.x3-settings-4 .noun-ready-2445068-1 {
  align-self: flex-end;
  cursor: pointer;
  height: 31px;
  width: 31px;
}

.x3-settings-4 .vector {
  height: 24px;
  margin-left: 55px;
  margin-top: 2.0px;
  width: 22px;
}

.x3-settings-4 .group-1 {
  cursor: pointer;
  height: 22px;
  margin-left: 69px;
  margin-top: 2.0px;
  width: 27px;
}

.x3-settings-4 .group-2 {
  cursor: pointer;
  height: 24px;
  margin-left: 53px;
  margin-top: 2.0px;
  width: 24px;
}
