/* screen - 5-estudiante-4 */

.x5-estudiante-4 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 667px;
  padding: 33px 0;
  width: 375px;
}

.x5-estudiante-4 .group {
  cursor: pointer;
  height: 27px;
  margin-left: 41px;
  width: 19px;
}

.x5-estudiante-4 .overlap-group1 {
  height: 450px;
  margin-top: 15px;
  position: relative;
  width: 375px;
}

.x5-estudiante-4 .title {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 60px;
  min-height: 140px;
  position: absolute;
  top: 310px;
  width: 267px;
}

.x5-estudiante-4 .a-continuacin-podrs-autenticarte {
  letter-spacing: 0;
  line-height: 30px;
  text-align: center;
  width: 263px;
}

.x5-estudiante-4 .acerca-tu-dispositiv {
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 4px;
  min-height: 80px;
  text-align: center;
  width: 246px;
}

.x5-estudiante-4 .cards {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 310px;
  left: 0;
  min-width: 375px;
  position: absolute;
  top: 0;
}

.x5-estudiante-4 .rectngulo-14 {
  background-color: var(--alice-blue);
  border: 1px solid;
  border-color: transparent;
  height: 270px;
  width: 32px;
}

.x5-estudiante-4 .rectngulo-144 {
  background-color: var(--alice-blue);
  border: 1px solid;
  border-color: transparent;
  height: 310px;
  width: 295px;
}

.x5-estudiante-4 .noun-scan-5318882-2 {
  height: 311px;
  left: 36px;
  position: absolute;
  top: 20px;
  width: 311px;
}

.x5-estudiante-4 .group-6 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 1.0px;
  margin-top: 8px;
  min-width: 184px;
}

.x5-estudiante-4 .overlap-group {
  align-items: flex-start;
  background-color: var(--sea-green);
  border-radius: 3px;
  display: flex;
  height: 59px;
  min-width: 182px;
  padding: 15px 7px;
}

.x5-estudiante-4 .continuar {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  text-align: center;
  width: 168px;
}
